KeepAlive yes
ServerAliveInterval 30
ServerAliveCountMax 6

Include work_config
Include private_config

Host *
	IgnoreUnknown UseKeychain
	AddKeysToAgent yes
	UseKeychain yes
	IdentityFile ~/.ssh/id_rsa
